body{ 
  font-family: 'Lato', sans-serif;
}

.cc{
  height: 100%;
  width: 110%;

}


.wrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link_wrapper{
  position: relative;
}

.a{
  display: block;
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  background: #333;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  transition: all .35s;

}

.icon{
  width: 500px;
  height: 500px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -;
  transition: all .35s;

}

.icon svg{
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: #2ecc71;
  transition: all .35s;
}

.a:hover{
  width: 200px;
  border: 3px solid #ff0000;
  background: transparent;
  color: #ff0000;
}

.a:hover + .icon{
  border: 3px solid #2ecc71;
  right: -33%;
}

