[Desktop Entry]
Encoding=UTF-8
Name=Link to selection-blue.css
Type=Link
URL=https://github.com/mo-root/mo/blob/master/selection-blue.css
Icon=text-html
